---
interface Props {
	jobTitle: string;
	time: string;
	companyName: string;
}

const { jobTitle, time, companyName } = Astro.props;
---

<hr>
<div class="flex flex-col p-3">
	<div class="flex justify-between text-2xl">
		<p>{jobTitle}</p>
		<p>{time}</p>
	</div>
	<div class="pt-2">
		<p class="text-xl">{companyName}</p>
		<div class="text-textgray pl-5">
			<slot />
		</div>
	</div>
</div>
