---
import FooterButton from '../components/FooterButton.astro';
---
<div class="fixed left-0 bottom-0 w-screen flex justify-center p-6">
	<ul class="shadow-inner-2 bg-gradient-to-b rounded-3xl py-3 px-4 flex flex-row gap-4 from-orange from-31% to-darkorange to-92% font-light">
	  <FooterButton text="About" href="#about"/>
	  <FooterButton text="Projects" href="#projects"/>
	  <FooterButton text="Experience" href="#experience"/>
	  <FooterButton text="Education" href="#education"/>
		<div class="border-l border-black/50"></div>
		<button id="openContact" class="hover:bg-white/35 hover:rounded-xl px-2">Contact</button>
	</ul>
</div>
